/*Amber's werk*/
/* Fonts being used by the oba */
@font-face {
    font-family: AvenirRoman;
    src: url(../font/Avenir-roman.ttf);
}

@font-face {
    font-family: AvenirMedium;
    src: url(../font/Avenir-medium.ttf);
}

@font-face {
    font-family: AvenirBlack;
    src: url(../font/Avenir\ -black.ttf);
}

/* Custom properties */
/* :root {
    --red:#FF0000;
    --dark-color:#ce0000;
    --black:#000000;
    --gray:#666;
    /* --border: .1rem solid rgba(0,0,0,.1);
    --border-hover: .1rem solid var(--black);
    --box-shadow: 0 .5rem 1rem rgba(0,0,0,.1); 
} */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: 'Poppins', sans-serif; */
}

:root{
    /* ===== Colors ===== */
    --body-color: #E4E9F7;
    --sidebar-color: #FFF;
    --primary-color: #FF0000;
    --primary-color-light: #F6F5FF;
    --toggle-color: #DDD;
    --text-color: #707070;

    /* ====== Transition ====== */
    --tran-03: all 0.2s ease;
    --tran-03: all 0.3s ease;
    --tran-04: all 0.3s ease;
    --tran-05: all 0.3s ease;
}


body{
    min-height: 100vh;
    background-color: var(--body-color);
    transition: var(--tran-05);
    font-family: AvenirMedium;
}

::selection{
    background-color: var(--primary-color);
    color: #fff;
}

body.dark{
    --body-color: #18191a;
    --sidebar-color: #242526;
    --primary-color: #3a3b3c;
    --primary-color-light: #3a3b3c;
    --toggle-color: #fff;
    --text-color: #ccc;
}

/* ===== Sidebar ===== */
 .sidebar{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    padding: 10px 14px;
    background: var(--sidebar-color);
    transition: var(--tran-05);
    z-index: 100;  
}
.sidebar.close{
    width: 88px;
}

/* ===== Reusable code - Here ===== */
.sidebar li{
    height: 50px;
    list-style: none;
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.sidebar header .image,
.sidebar .icon{
    min-width: 60px;
    border-radius: 6px;
}

.sidebar .icon{
    min-width: 60px;
    border-radius: 6px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}

.sidebar .text,
.sidebar .icon{
    color: var(--text-color);
    transition: var(--tran-03);
}

.sidebar .text{
    font-size: 1rem;
    font-weight: 500;
    white-space: nowrap;
    opacity: 1;
}
.sidebar.close .text{
    opacity: 0;
}

.sidebar .text-long,
.sidebar .icon{
    color: var(--text-color);
    transition: var(--tran-03);
}

.sidebar .text-long{
    font-size: 17px;
    font-weight: 500;
    resize: none;
    opacity: 1;
}
.sidebar.close .text-long{
    resize: none;
    opacity: 0;
}

/* =========================== */

.sidebar header{
    position: relative;
}

.sidebar header .image-text{
    display: flex;
    align-items: center;
}
.sidebar header .logo-text{
    display: flex;
    flex-direction: column;
}
header .image-text .name {
    margin-top: 2px;
    font-size: 18px;
    font-weight: 600;
}

header .image-text .profession{
    font-size: 16px;
    margin-top: -2px;
    display: block;
}

.sidebar header .image{
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidebar header .image img{
    width: 3rem;
    border-radius: 180px;
}

.sidebar header .toggle{
    position: absolute;
    top: 50%;
    right: -25px;
    transform: translateY(-50%) rotate(180deg);
    height: 25px;
    width: 25px;
    background-color: var(--primary-color);
    color: var(--sidebar-color);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    cursor: pointer;
    transition: var(--tran-05);
}

body.dark .sidebar header .toggle{
    color: var(--text-color);
}

.sidebar.close .toggle{
    transform: translateY(-50%) rotate(0deg);
}

.sidebar .menu{
    margin-top: 18px;
}

.sidebar li.search-box{
    border-radius: 6px;
    background-color: var(--primary-color-light);
    cursor: pointer;
    transition: var(--tran-05);
}

.sidebar li.search-box input{
    height: 100%;
    width: 100%;
    outline: none;
    border: none;
    background-color: var(--primary-color-light);
    color: var(--text-color);
    border-radius: 6px;
    font-size: 17px;
    font-weight: 500;
    transition: var(--tran-05);
}
.sidebar li a{
    list-style: none;
    height: 100%;
    background-color: transparent;
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    border-radius: 6px;
    text-decoration: none;
    transition: var(--tran-03);
}

.sidebar li a:hover{
    background-color: var(--primary-color);
}
.sidebar li a:hover .icon,
.sidebar li a:hover .text{
    color: var(--sidebar-color);
}
body.dark .sidebar li a:hover .icon,
body.dark .sidebar li a:hover .text{
    color: var(--text-color);
}

.sidebar .menu-bar{
    height: calc(100% - 55px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-y: scroll;
}
.menu-bar::-webkit-scrollbar{
    display: none;
}
.sidebar .menu-bar .mode{
    border-radius: 6px;
    background-color: var(--primary-color-light);
    position: relative;
    transition: var(--tran-05);
}

.menu-bar .mode .sun-moon{
    height: 50px;
    width: 60px;
}

.mode .sun-moon i{
    position: absolute;
}
.mode .sun-moon i.sun{
    opacity: 0;
}
body.dark .mode .sun-moon i.sun{
    opacity: 1;
}
body.dark .mode .sun-moon i.moon{
    opacity: 0;
}

.menu-bar .bottom-content .toggle-switch{
    position: absolute;
    right: 0;
    height: 100%;
    min-width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    cursor: pointer;
}
.toggle-switch .switch{
    position: relative;
    height: 22px;
    width: 40px;
    border-radius: 25px;
    background-color: var(--toggle-color);
    transition: var(--tran-05);
}

.switch::before{
    content: '';
    position: absolute;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    background-color: var(--sidebar-color);
    transition: var(--tran-04);
}

body.dark .switch::before{
    left: 20px;
}

.home{
    /* position: absolute; */
    /* top: 0; */
    /* left: 250px; */
    /* height: 100vh; */
    /* width: calc(100% - 250px); */
    margin-left: 250px;
    background-color: var(--body-color);
    transition: var(--tran-05);
}
.home .text{
    font-size: 30px;
    font-weight: 500;
    color: var(--text-color);
    padding: 12px 0 12px 1rem;
}

.sidebar.close ~ .home{
    margin-left: 78px;
    /* left: 78px; */
    /* height: 100vh; */
    /* width: calc(100% - 78px); */
}
body.dark .home .text{
    color: var(--text-color);
}

/*Einde Amber's format*/

/* Eigen werk */

main {
    display: flex;
    flex-direction: column;
    padding: 0 0.5rem 0 0.9rem;
    color: var(--text-color);
}

h1 {
    margin-bottom: 2rem;
    font-size: 30px;
    text-align: center;
    overflow-wrap: break-word;
}

/* Filters */

.buttons {
    margin-bottom: 2rem;
    text-align: center;
}

button {
    margin: 0 0.5rem 0.5rem 0;
    padding: 0.5rem 0.75rem;
    border: none;
    border-radius: 1rem;
    background: var(--primary-color);
    font-family: AvenirMedium;
    font-size: 1rem;
    color: white;
    cursor: pointer;
    transition: .2s ease-in-out;
}

/* Boekenlijst */

.book {
    justify-content: center;
    text-align: center;
    margin-bottom: 2rem;
}

.book img {
    box-shadow: 5px 5px 5px rgb(204, 204, 204);
    width: 180px;
    height: 285px;
}

.book p {
    margin-bottom: 1.5rem;
}

.book a {
    padding: 0.5rem 2rem;
    background: white;
    border-radius: 1rem;
    color: var(--text-color);
    transition: 0.2s ease-in-out;
}

/* Popup */

.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0; 
    background: rgba(0, 0, 0, 0.2);
    /* transition: opacity 50ms; */
    visibility: hidden;
    opacity: 0;
    margin-left: 78px;
    padding: 0 0.5rem 0 0.9rem;
}

.overlay:target {
    visibility: visible;
    opacity: 1;
}

.popup {
    margin: 70px auto; 
    padding: 20px;
    background: #fff;
    border-radius: 1rem;
    width: 90%;
    position: relative;
    /* transition: all 5s ease-in-out; */
}

  .popup .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: var(--primary-color);
}

  .popup .content {
    max-height: 30%;
    overflow: auto;
}

/* Aanbevolen activiteiten */

.rec-title {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 2rem 0;
}

.rec-title h2 {
    font-size: 30px;
    text-align: center;
}

.recommendations {
    display: grid;
    grid-template-columns: repeat( auto-fit, 280px);
    gap: 1rem;
    justify-content: center;
    text-align: center;
}

.activity {
    position: relative;
    display: grid;
    justify-items: center;
    /* width: 90%; */
    /* max-width: 280px; */
    /* margin: 0 auto 2rem auto; */
}

.activity img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 3%;
}

.activity h3 {
    position: absolute;
    bottom: 0.1em;
    width: 100%;
}

.activity h3 a {
    display: inline-block;
    padding: 0.4rem 1rem;
    background: white;
    border-radius: 1rem;
    max-width: 80%;
    color: var(--text-color);
    overflow: hidden;
    white-space: nowrap;
    text-overflow:ellipsis;

    transition: 0.2s ease-in-out;
    transition: 0.5s;
}

/* Hovers & Focus */

.activity h3 a:hover, 
.activity h3 a:focus,
.book a:hover,
.book a:focus {
    background: var(--primary-color);
    color: white;
}

.buttons button:hover,
.buttons button:focus {
    background: white;
    color: var(--text-color);
}

.activity h3 a:active {
    background: green;
    transition: 0s;
}

.book a, 
.activity a:link,
.book a, 
.activity a:visited {
    text-decoration: none;
}

/* Dark mode */

body.dark .home .book a, 
body.dark .home .activity h3 a,
body.dark .home .book img {
    color: var(--primary-color);
    box-shadow: none;
}

body.dark .home .buttons button {
    background: #FF0000;
}

body.dark .home .buttons button:hover,
body.dark .home .buttons button:focus {
    background: white;
    color: var(--primary-color);
}

body.dark .home .activity h3 a:hover, 
body.dark .home .activity h3 a:focus,
body.dark .home .book a:hover,
body.dark .home .book a:focus {
    background: #FF0000;
    color: white;
}

/* Media queries */

@media (min-width: 32em) {
    .rec-title {
        flex-direction: column;
        align-items: center;
    }
}

@media (min-width: 53em) {
    h1 {
        padding-left: 1rem;
        text-align: start;
    }

    .buttons {
        padding-left: 1rem;
        text-align: start;
    }

    .book {
        display: flex;
        flex-flow: column;
        align-items: start;
        justify-content: space-between;
        text-align: start;
        margin: 0 3rem 2rem 0;
        /* max-width: 180px; */
    }

    .book-list {
        /* display: flex;
        flex-wrap: wrap; */
        display: grid;
        grid-template-columns: repeat( auto-fit, minmax(180px, 1fr) );
        padding-left: 1rem;
        margin-bottom: 2rem;
        gap: 1rem;
    }

    .popup{
        width: 30%;
    }

    .rec-title {
        flex-direction: row;
        justify-content: flex-start;
        padding-left: 1rem;
    }

    .rec-title img {
        margin-left: 5rem;
    }

    .recommendations {
        /* display: flex;
        flex-direction: row;
        flex-wrap: wrap;*/
        justify-content: start;
    }

    .activity {
        margin: 1rem;
    }
}